@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px
  }


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.obertka {
    background-color: #fff;
    width: 100%
}

.containerus{
    font-family: "Merriweather", serif;
    position: relative;
    text-align: center;
    color: white;
}

.us-center{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.us-text{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
