{% extends 'shapka_templ.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'recept/css/recept.css' %}">
{% endblock %}
{% block body %}
    <div class="obertka">
      <div class="trad">
            <img src="{% static 'recept/images/lukin.jpg' %}" width="36%">
            <h1 id="sec3">Iceberg Cofee: Хранитель кофейных традиций</h1>

            <p>Iceberg Cofee — это не просто кофе, а целая вселенная, в которой собраны лучшие традиции кофепития со всего мира. Скрывающий под собой множество тайн, этот уникальный кофе хранит в себе богатое наследие разнообразных рецептов и методов приготовления. Каждый глоток айсберг кофе отражает культуру и историю тех мест, откуда берутся его ингредиенты. Мы объединяем классические итальянские эспрессо, ароматный турецкий кофе и экзотические эфиопские церемонии, создавая уникальные сочетания, которые удивляют и радуют. В нашем репозитории рецептов вы найдете как традиционные варианты, так и современные интерпретации, которые позволят вам открыть новые грани любимого напитка.</p>

        </div>
    </div>
{% endblock %}