{% extends 'shapka_templ.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <title>Iceberg Cofee</title>


{% endblock %}
{% block body %}
<style>


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px
  }


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.obertka {
    background-color: #fff;
    width: 100%
}

.hero {
    margin-top: 80px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.hero-inf{
    width: 530px;
    padding-top: 70px;
}

.hero-inf h1{
    font-weight: 400;
    margin: 30px;
}

.hero-inf p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px;
    margin-right: 30px;
}

.hero img{
   max-width: 45%;
   height: auto;
   margin-left: 200px;
}

.hero-inf .btn{
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 18px;
    background-image: linear-gradient(to right, #021daa 0%, #0B63F6 51%, #003CC5 100%);
}


.hero-inf .btn:hover{
    background-position: right center;
    padding: 17px 32px;
}


.dops{
    margin-top: 500px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.dops img{
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
}

.dops .h{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 30px 0 10px;
}

.dops .txt {
    font-family: "Merriweather", serif;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    height: 90px;
    width: 300px;
}
.menu{
    margin-top: 200px;
    margin-bottom: 200px;
}
.shop{
    margin-top: 100px;
    height: 450px;
    margin: 30px 30px 100px 30px;
}
.block img{
    border-radius: 7px;
    height: 300px;
    width: 250px;
}

.shop .see-all{
    color: #fff;
    background: #021daa;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.shop .see-all:hover{
    transform: scale(1.1);
}

.shop .weapon{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;

}

.shop .weapon span{
    display: block;
    text-align: center;
    margin-top: 20px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px
  }


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.obertka {
    background-color: #fff;
    width: 100%
}

.container {
    width: 100%;
    margin: 0;
}

 header{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    position: fixed;
    padding: 15px;
    width: 100%;
    background-color: #021daa;
    display: block;
    top: 0;
    height: 55px;
    z-index: 100;

 }

 header .logo {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fff;
        font-size: 22px;
}

 header nav{
    float: right;
    width: 40%;
}

header nav ul {
    margin-right: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li:not(.btn) a:hover {
    border-bottom: 5px solid #fff;;
}

.hero {
    margin-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.hero-inf{
    width: 530px;
    padding-top: 70px;
}

.hero-inf h1{
    font-size: px;
    font-weight: 400;
    margin: 30px;
}

.hero-inf p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px;
    margin-right: 30px;
}

.hero img{
   max-width: 45%;
   height: auto;
   margin-left: 200px;
}

.hero-inf .btn{
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 18px;
    background-image: linear-gradient(to right, #021daa 0%, #0B63F6 51%, #003CC5 100%);
}


.hero-inf .btn:hover{
    background-position: right center;
    padding: 17px 32px;
}

.containerus{
    font-family: "Merriweather", serif;
    position: relative;
    text-align: center;
    color: #ffff;
}

.us-center{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.us-text{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.trad{
    margin-top: 70px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 25px;
}

.trad h1 {
    font-weight: 400;
    margin-left: 25px;
}

.trad img{
    border-radius: 50px;
}

.trad p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px;
    margin-right: 30px;
}

.obertka-k{
    background: #06197a;
    width: 100%;
}

.kontakt {
    padding: 50px;

}

.kontakt h3 {
    color: #fff;
}


.kontakt ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    width: 70%;
}

.kontakt ul li a {
    color: #8ea9c8;
}

.form-zvonok{
    text-align: right;
    padding-right: 50px;
    margin-top: -130px;
    background: #011575;
}

.form-zvonok{
    color: #99a5e4;
}

.form-zvonok input{
    background: #fff;
    border-color: #06197a;
    border-radius: 10px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    margin: 5px;
    padding: 5px 2%;
}

.form-zvonok h3 {
    margin-left: 100px;
    margin: 3px;
}

.form-zvonok p{
    text-align: center;
}

.form-zvonok button{
    margin: 5px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    padding: 10px 15px;
}

.form-zvonok button:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}




</style>
    <div class="obertka">
      <div class="hero container">
            <div class="hero-inf">
                <h1 id="sec1">Добро пожаловать в мир «Кофе Айсберг»!</h1>
                <p>Погрузитесь в уникальное путешествие по ледяным просторам, где каждый глоток нашего кофе — это свежесть и чистота, словно кристально чистая вода айсберга. Мы гордимся тем, что предлагаем вам только лучшие сорта кофе, собранные с самых высоких плантаций мира.<p>
                <button class="btn"><a href="{% url 'order' %}">Заказать</a></button>
            </div>
            <img src="{% static 'main/images/lodka.jpg' %}">
        </div>
        <div class="world">
            <div class="container dops">
                <div class="yarl1">
                    <img src="{% static 'main/images/berry.svg' %}" alt="">
                    <p class="h">ВЫСОКОКАЧЕСТВЕННЫЕ ЗЕРНА</p>
                    <p class="txt">В Iceberg Coffee мы гордимся тем, что используем только лучшие зерна арабики, поставляемые напрямую из ведущих регионов производства кофе</p>
                </div>
                <div class="yarlik2">
                    <img src="{% static 'main/images/planet.svg' %}" alt="">
                    <p class="h">ЧЕМПИОНЫ</p>
                    <p class="txt">Каждая партия нашего кофе тщательно проверяется и смешивается нашей командой чемпионов WBC из Польши, Италии, Японии, Австралии и Китая</p>
                </div>
                <div class="yarlic3">
                    <img src="{% static 'main/images/seed.svg' %}" alt="">
                    <p class="h">СВЕЖЕМОЛОТЫЙ</p>
                    <p class="txt">Мы гарантируем, что каждая чашка нашего кофе приготовлена ​​специально для вас, гарантируя, что вы ощутите всю глубину вкуса и аромата с каждым глотком</p>
                </div>
            </div>
        </div>
        <div class="menu">
            <img src="{% static 'main/images/menu.jpg' %}" alt="" width="100%">
        </div>
        <div class="conteiner shop">
            <a href="#" class="see-all">See All</a>
            <h2>Акции</h2>
            <div class="weapon">
                <div class="block">
                    <img src="{% static 'main/images/coffee 1.jpg' %}" alt="">
                    <span>Капучино 220 <small>₽</small> </span>
                </div>
                <div class="block">
                    <img src="{% static 'main/images/coffee 2.jpg' %}" alt="">
                    <span>Iceberg Coffee 325₽</span>
                </div>
                <div class="block">
                    <img src="{% static 'main/images/coffee3.jpg' %}" alt="">
                    <span>Democracy 100₽</span>
                </div>
                <div class="block">
                    <img src="{% static 'main/images/coffee 4.jpg' %}" alt="" class="444">
                    <span>Китовый size 255₽</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
