{% extends 'shapka_templ.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <title>Iceberg Cofee</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block body %}
    <div class="obertka">
      <div class="hero container">
            <div class="hero-inf">
                <h1 id="sec1">Добро пожаловать в мир «Кофе Айсберг»!</h1>
                <p>Погрузитесь в уникальное путешествие по ледяным просторам, где каждый глоток нашего кофе — это свежесть и чистота, словно кристально чистая вода айсберга. Мы гордимся тем, что предлагаем вам только лучшие сорта кофе, собранные с самых высоких плантаций мира.<p>
                <button class="btn">Заказать</button>
            </div>
            <img src="{% static 'main/images/lodka.jpg' %}">
        </div>
        <div class="world">
            <div class="container dops">
                <div class="yarl1">
                    <img src="{% static 'main/images/berry.svg' %}" alt="">
                    <p class="h">ВЫСОКОКАЧЕСТВЕННЫЕ ЗЕРНА</p>
                    <p class="txt">В Luckin Coffee мы гордимся тем, что используем только лучшие зерна арабики, поставляемые напрямую из ведущих регионов производства кофе</p>
                </div>
                <div class="yarlik2">
                    <img src="{% static 'main/images/planet.svg' %}" alt="">
                    <p class="h">ЧЕМПИОНЫ</p>
                    <p class="txt">Каждая партия нашего кофе тщательно проверяется и смешивается нашей командой чемпионов WBC из Польши, Италии, Японии, Австралии и Китая</p>
                </div>
                <div class="yarlic3">
                    <img src="{% static 'main/images/seed.svg' %}" alt="">
                    <p class="h">СВЕЖЕМОЛОТЫЙ</p>
                    <p class="txt">Мы гарантируем, что каждая чашка нашего кофе приготовлена ​​специально для вас, гарантируя, что вы ощутите всю глубину вкуса и аромата с каждым глотком</p>
                </div>
            </div>
        </div>
        <div class="menu">
            <img src="{% static 'main/images/menu.jpg' %}" alt="" width="100%">
        </div>
        <div class="conteiner shop">
            <a href="#" class="see-all">See All</a>
            <h2>Акции</h2>
            <div class="weapon">
                <div class="block">
                    <img src="{% static 'main/images/coffee 1.jpg' %}" alt="">
                    <span>Капучино 220 <small>₽</small> </span>
                </div>
                <div class="block">
                    <img src="{% static 'main/images/coffee 2.jpg' %}" alt="">
                    <span>Iceberg Coffee 325₽</span>
                </div>
                <div class="block">
                    <img src="{% static 'main/images/coffee3.jpg' %}" alt="">
                    <span>Democracy 100₽</span>
                </div>
                <div class="block">
                    <img src="{% static 'main/images/coffee 4.jpg' %}" alt="" class="444">
                    <span>Китовый size 255₽</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}