{% extends 'shapka_templ.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'about/css/about.css'%}">
{% endblock %}
{% block body %}
  <div class="obertka">
    <div class="containerus">
            <img src="{% static 'about/images/ice1.jpg'%}" alt="" width="100%">
            <div class="us-center">
                <h2 id="sec2">О нас</h2>
            </div>
            <div class="us-text">
                <P>Iceberg Coffee — ваш уникальный источник высококачественного кофе, который, как айсберг, скрывает под своей поверхностью множество разнообразных и удивительных вкусов. Мы стремимся создать не просто кафе, а целую кофейную культуру, где каждый глоток становится настоящим открытием.</P>
                <br>
                <p>Мы отбираем только лучшие зерна со всего мира — от солнечных плантаций Латинской Америки до экзотических уголков Африки и Азии. Каждая партия кофе проходит тщательную обработку и обжарку, чтобы раскрыть все богатство ароматов и вкусов.</p>
                <br>
                <p>Наша команда бариста готова помочь вам открыть новые грани кофейного удовольствия. Приходите и наслаждайтесь атмосферой, где каждый глоток — это открытие!</p>
                <br>
                <p>С любовью к кофе, Команда Iceberg Coffee</p>
            </div>

    </div>
  </div>
{% endblock %}